---
layout: page
permalink: /categories/
title: 博客分类
---

<div id="blog-categories">
    {% for category in site.categories %}
    <div class="archive-group">
        {% capture category_name %}{{ category | first }}{% endcapture %}
        <div id="#{{ category_name | slugize }}"></div>
        <p></p>

        {% unless category_name contains "," %}
        {% if site.categories[category_name] %}
        <ul class="list-group">
            <div class="category-head"><font style="font-size: 30px;">{{ category_name }}</font> 
            <span class="badge">{{ site.categories[category_name].size }}</span> </div>
        </ul>
            <a name="{{ category_name | slugize }}"></a>
            {% for post in site.categories[category_name] %}
                <li style="font-size:15pt !important;">{{ post.date | date: "%Y/%m/%d" }} {% raw %}-{% endraw %} <a href="{{ site.baseurl }}{{ post.url }}"><font style="font-size: 24px;">{{ post.title }}</font></a></li>
            {% endfor %}
        {% endif %}
        {% endunless %}
    </div>
    {% endfor %}
</div>