<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2010年，</p>


         <p>
          <strong>个人公众号</strong>：<a href="h" target="_blank">大白技术控（ID：DabaiTech）</a>，“分享技术、感悟人生”欢迎关注
        </p>

        <p><strong>About name</strong></p>

        <p>我的一个兄弟</p>

        <p>
          <a href="" target="_blank">   创建了一个xxx等，如果你感兴趣，欢迎加入！
          </a>
        </p>

        <h2>Articles</h2>
        <p>几篇文章，方便让你快速了解我</p>

        <ul>
           <li>
            2016-11-20  <strong><a href="" target="_blank">test
                </a></strong>
          </li>
           <li>
            2019-06-28  <strong><a href="">test2
            </a></strong>
          </li>
        </ul>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>我的微信：<strong>iMath7</strong>（备注：博客）</li>
        </ul>

        <p><strong>Group</strong></p>
        <p>
            <em>创建了一些不同类别的QQ群，大家如果有兴趣可以加入，请不要重复入群！
            加入方式：请关注公众号：<a href="" target="_blank">大白技术控</a>，回复关键字
            </em>
        </p>

       <ul>
            <li>xxx交流群 - 关键字：core</li>
            <li>原创作者交流群 - 关键字：原创</li>
        </ul>

        <p><em>如果上面的群都不合适你，入群（<strong>ggg</strong>）交流IT人的技术与生活</em></p>

       <h2>
         Note
       </h2>

        <p>
         自从写博客开始，开始陆续有一些机会和同行在线上交流，但是也遇到了一些困惑，有的朋友加我之后，直接就抛出一堆错误日志，有的上来默不作声，有的更是质疑不断... 当然更多的是一些友善、有乐趣的朋友。
       </p>

        <p> 大家的时间都很宝贵，为了更高效的交流，我希望您可以这样</p>

       <ul>
         <li>请先自我介绍一下，您在那家公司，做什么工作，怎么称呼？希望和您交流什么？任何深入的交流都是建立在相互了解之上。
        </li>
        <li> 
          欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利；如在微信公众号转载请务必附上<a href="" target="_blank">博客公众号二维码</a>，谢谢。
        </li>
      </ul>

       <p>
        最后，还是感谢您xxx。
       </p>

       <h2>
         History
       </h2>

       <ul>
            <li>2016年，建站，托管于 Github Pages。</li>
            <li></li>
            <li></li>
        </ul>

       <h2>
         Donate
       </h2>

       <p>本站所有文章和源码均免费开放，
       </p>

       <p align="center">
         <img src="./tip.jpg" />
         <br/> 
         微信扫一扫
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>