<div>
   <p align="center">
         	  {% if page.copyright %}
             <img src="http://favorites.ren/assets/images/{{ page.copyright }}.jpg" >
            {% else %}
             <img src="//images.cnblogs.com/cnblogs_com/enjoy233/1389971/o_gzh_qrcode.jpg" >
            {% endif %}
         <br/>
          一个有故事的程序员
   </p>
   <p align="center" style="margin-top: 15px; font-size: 11px;color: #cc0000;">
       <strong>（转载本站文章请注明作者和出处 <a href="http://geekplayers">极客玩家-Bravo Yeung</a>）</strong>
   </p>
   <p align="center" style="margin-top: 15px; font-size: 16px;color: #337ab7;">
       <strong><a href="http://enjoy233.cn/" target="_blank">点击了解 ：.NET 技术人的网站</a></strong>
   </p>
</div>