<section class="jumbotron geopattern" data-pattern-id="{{ page.title }}">
    <div class="container">
        <div id="jumbotron-meta-info">
            <h1>{{ page.title }}</h1>
            <span class="meta-info">
                {% if page.subtitle %}
                {{ page.subtitle }}
                {% endif %}
                {% if page.date %}
                <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d %T" }}
                {% endif %}
            </span>
            <p>
                Posted in:

                <!--{% if page.categories == null %}
                {% endif %}-->
                {% assign category_size = page.categorys.size %}
                {% if category_size > 0 %}
                  with categories:<i class="fa fa-tags"></i>
                  {% for post_category in page.categories %}
                    {% assign category = site.data.categories[post_category] %}
                    {% if category == null %}
                      {% assign category = post_category %}
                    {% endif %}
                    <a href="/{{ category | slugize }}/">
                        {{ category }}
                    </a>
                    {% if forloop.last == false %}, {% endif %}
                  {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){

        $('.geopattern').each(function(){
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>