<style>
    ol,
    ul {
        list-style: none;
    }

    .tag ul {
        display: flex
    }

    .tag ul li {
        margin-right: 18px
    }

    .tag ul i {    
        line-height: 1;
        padding: 4px 2px;
        margin: 0 4px 0 -2px;
        font-size: 16px;
    }

    .tag ul a {
        position: relative;
        display: block;
        text-decoration: none;
        color: #ddd;
        transition: transform .3s;
        background-color: #16a085 !important; 
        padding: 3px 2px;
        border-radius: 5px 0 0 5px !important;
    }

    .tag ul a:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: -1em;
        width: 0;
        border: 1em solid transparent;
        border-right: none;
        border-left: 1em solid #16a085
    }

    .tag ul a:hover {
        transform: translateX(4px)
    }

</style>

<section class="jumbotron geopattern" data-pattern-id="{{ page.title }}">
    <div class="container">
        <div id="jumbotron-meta-info">
            <h1 style="font-size: 45px;">
                <a class="hvr-underline-from-center" style="display: initial !important;" href="{{ site.baseurl }}{{ page.url }}" title="{{ page.title }}_极客玩家大白" target="_self" rel="canonical">{{ page.title }}</a>
            </h1>

            <span class="meta-info">
                {% if page.subtitle %}
                {{ page.subtitle }}
                {% endif %}

                {% assign author = site.data.authors[page.author] %}
                {% if author %}
                {% include author.html %}
                {% else %}
                    <i class="fa fa-user" aria-hidden="true"></i> <a href='{{ site.url }}'>Bravo Yeung</a>
                {% endif %}

                {% if page.platform contains '公众号' %}
                <font style="color: #ddd;"> 首发于: {{ page.platform %}}</font>
                <font style="font-weight: bold; font-style:italic !important;">{{ page.gzhname %}}</font>&nbsp;
                {% endif %}
                                
                {% if page.date %}
                <span class="octicon octicon-calendar"></span> <font style="color: #ddd;">{{ page.date | date: "%Y/%m/%d %T" }}</font>
                {% endif %}
            </span>
            
            <p style="margin-bottom: 0 !important;">
                {% if post %}
                {% assign categories = post.categories %}
                {% else %}
                {% assign categories = page.categories %}
                {% endif %}
                
                <div class="tag">
                    <ul>
                        {% for category in categories %}
                        {% if category.size == 0 %}
                        {% unless category contains "," %}
                
                        <font style="color: #ddd;"><i class="fa fa-folder-open" aria-hidden="true"></i></font>
                        <li><a
                                href="{{site.baseurl}}/categories/{{category|downcase|replace: ' ', '-'|replace: '+', ''|replace: '.', ''}}">{{category}}</a>
                        </li>
                        {% endunless %}
                        {% elsif category.size > 0 %}
                        {% if forloop.index == 1 %}
                        <font style="color: #ddd;"><i class="fa fa-folder-open" aria-hidden="true"></i></font>
                        {% for cat in category %}
                        <li><a href="{{site.baseurl}}/categories/{{cat|downcase|replace: ' ', '-'|replace: '+', ''|replace: '.', ''}}">{{cat}}</a></li>
                        {% endfor %}
                        {% endif %}
                        {% else %}
                
                        {% endif %}
                        <!-- <p>out index:{{forloop.index}}</p>
                                                <p>size: {{category.size()}}</p> -->
                        {% endfor %}
                    </ul>
                </div>
            </p>
            <p class="meta-info"><i class="fa fa-info-circle"></i>
                <a rel="external nofollow" id='index-query' href="http://www.baidu.com/s?wd={{ site.url }}{{ page.url }}" _target="_blank"
                    title="度娘怜爱" target="_blank">&nbsp;<font style='color: #0d31bc; font-size: 16px;'>百度收录</font></a>
            </p>
        </div>
    </div>
</section>

<script>

    $(document).ready(function(){
        var hostname = window.location.hostname;

        var newUrl = "";
        // alert(window.location.href);
        if(hostname.indexOf('github.io') > -1)
        {
            newUrl = 'http://www.baidu.com/s?wd=' + window.location.href;
            document.getElementById("index-query").setAttribute("href", newUrl);
        }  

        $('.geopattern').each(function(){
            $(this).geopattern($(this).data('pattern-id'));
        });

    });
</script>