<style>
    .top-most-flag {
    color: red;
}

.markdown-body, body {
    font-family: Arial,"Hiragino Sans GB","冬青黑","Microsoft YaHei","微软雅黑",SimSun,"宋体",Helvetica,Tahoma,Arial sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

</style>

<article class="article-content markdown-body">
    <blockquote>
        <p>记多少命令和快捷键会让脑袋爆炸呢？</p>
    </blockquote>
    <ul class="listing">
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/chinese-copywriting-guidelines/"><span
                    class="top-most-flag">[置顶]</span>中文文案排版指北（简体中文版）</a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/eclipse/">Eclipse<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/git/">Git<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/good-soft/">善用佳软<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/kindle/">Kindle<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/linux/">Linux/Unix<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/mac/">Mac OS X<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/markdown/">Markdown<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/mysql/">MySQL<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/onenote/">OneNote<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/php/">PHP<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/powershell/">PowerShell<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/python/">Python<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/skill-tree/">技能树<span
                    style="font-size:12px;color:red;font-style:italic;"> mindmap</span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/source-insight/">Source Insight<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/visio/">Visio<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/visual-studio-code/">Visual Studio Code<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/visual-studio/">Visual Studio<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
        <li class="listing-item"><a href="https://by.geekplayers.com/wiki/windows-terminal/">Windows Terminal<span
                    style="font-size:12px;color:red;font-style:italic;"></span></a></li>
    </ul>
</article>